{%- import 'parts/form.html' as form -%}
{%- import 'parts/pbs.html' as pbs -%}
<form id="lammps_gpu_form" action="/lammps_gpu" method="post">
{%- filter indent(_indent_level+4) %}
{{ form.path('lammps_path', value='/home/knight/bin/lammps_polaris_nvhpc',
         label="Path to LAMMPS executable") }}
{{ form.path('lammps_args', value='-in in.rhodo -pk gpu ${NGPUS} -pk omp 0 -sf hybrid gpu omp',
         label="LAMMPS arguments") }}
{{ form.positive_integer('nranks', value=4, label="Number of ranks") }}
{{ form.positive_integer('ndepth', value=8, label="Depth") }}
{{ form.positive_integer('nthreads', value=1, label="Number of threads") }}
{{ form.positive_integer('ngpus', value=4, label="Number of GPUs") }}
{{ form.select('system', [
    ('any', 'Any'),
    ('polaris', 'Polaris', True)], label="System") }}
{{ pbs.resources() }}
{%- endfilter %}
<pre id="script_tpl" class="code" style="display: none;">#!/bin/bash -l
<span id="pbs_opts">#PBS placeholder_text</span>

export MPICH_GPU_SUPPORT_ENABLED=1

NNODES=`wc -l &lt; $PBS_NODEFILE`

# per-node settings
NRANKS=<span data-src="nranks"></span>
NDEPTH=<span data-src="ndepth"></span>
NTHREADS=<span data-src="nthreads"></span>
NGPUS=<span data-src="ngpus"></span>

NTOTRANKS=$(( NNODES * NRANKS ))

EXE=<span data-src="lammps_path"></span>
EXE_ARG="<span data-src="lammps_args"></span>"

# more MPI ranks per GPU likely needed for performance

MPI_ARG="-n ${NTOTRANKS} --ppn ${NRANKS} --depth=${NDEPTH} --cpu-bind depth --env OMP_NUM_THREADS=${NTHREADS} --env OMP_PROC_BIND=spread --env OMP_PLACES=cores"

COMMAND="mpiexec ${MPI_ARG} ${EXE} ${EXE_ARG}"
echo "COMMAND= ${COMMAND}"
${COMMAND}
</pre>
{%- filter indent(_indent_level+4) %}
<h2>The Code</h2>
{{ form.textarea('code', classes=['code']) }}
{%- endfilter -%}
{%- filter indent(_indent_level) %}
</form><!-- form#lammps_gpu_form -->
{%- endfilter -%}
