<!DOCTYPE html>
<html lang="en">
<head>
    <title>HPC-GUI Front Page</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page" id="homepage">
        {% include "navigation.html" %}
        {% include "header.html" %}
        <div class="ui-content" role="main">
            <h1>About HPC-GUI</h1>
            <p>Have you ever had a simulation idea with an application ready to go, but forgot what
            all the PBS options were? Yeah, us too.</p>
            <p>HPC-GUI guides you through choosing:</p>
            <ul>
                <li>Queue and job names</li>
                <li>Notification settings</li>
                <li>Number of nodes / tasks per node</li>
            </ul>
            <p>HPC-GUI can handle common parallelization regimes for some simulation packages, but
            you can use it for non-simulation purposes, as well.</p>
            <p>Choose a starting point from the menu and submit your jobs from here!</p>
        </div>
        {% include "footer.html" %}
    </div><!-- page -->
</body>
</html>
