{% set menu_items = ['Custom Job', 'LAMMPS', 'NAMD', 'OpenMM', 'VASP'] %}
<div id="navigation" data-role="panel" data-display="overlay">
    <ul data-role="listview">
        <li data-icon="home"><a href="#homepage">Home</a></li>
{% for item in menu_items %}
        <li><a href="#{{ item.lower().replace(' ', '_') }}">{{ item }}</a></li>
{% endfor %}
    </ul>
</div><!-- navigation -->
<div class="expanded-nav-left">
    <ul class="ui-alt-icon ui-nodisc-icon" data-role="listview">
        <li data-icon="home"><a href="#homepage">Home</a></li>
{% for item in menu_items %}
        <li><a href="#{{ item.lower().replace(' ', '_') }}">{{ item }}</a></li>
{% endfor %}
    </ul>
</div><!-- .expanded-nav-left -->
